body{
    margin: 0;
}
main{
    width: 100%;
    height: 100vh;
    background-color: blue;
    display: flex;
}
.a{
    width: 60%;
    height: 145vh;
    background-color:#6379F4;
    overflow: hidden;
}
.svg{
    width: 100%;
    height: 145vh;
    overflow: hidden;
}
.foto{
    position: relative;
    bottom: 100%;
    left: 15%;
    animation-name: gerak;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.83, 0.17, 0.26, 0.96);;
    animation-direction: alternate;
}
@keyframes gerak {
    0%{
        transform: translate(-100px, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 100%;
    }
}

.hp1 img{
    padding-right: 40%;
}
.zwallet h2{
    font-size: 29px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.app h2{
    font-size: 29px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.outro p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 25px;
}


/* ---------------------- section b ---------------------- */
.b{
    width: 40%;
    height: 145vh;
    background-color: white;
    display: flex;
    justify-content: right;
}

.portal{
    width: 85%;
    height: 100vh;
    padding-top: 13%;
}
.start{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    line-height: 36.74px
}
.transfer{
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#3A3D4299;
    line-height: 30px
}
.input{
    padding-top: 20px;
    margin-top: 50px;
}
.email:focus {
    border-bottom: 2px solid #6379F4;
    background: url("png/mail2.png") no-repeat;
}
.input img{
    position: absolute;
}
.eye{
    right: 40px;
}

.userr{
    padding-left: 40px;
    width: 360px;
    outline: none;
    height: 30px;
    border-bottom: 2px solid #A9A9A9;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url("png/person.png") no-repeat;
    transition: 300ms;
}
.userr:focus{
    border-bottom: 2px solid #6379F4;
    background: url("png/person2.png") no-repeat;
}
.email{
        padding-left: 40px;
        width: 360px;
        outline: none;
        height: 30px;
        border-bottom: 2px solid #A9A9A9;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: url("png/mail.png") no-repeat;
        transition: 300ms;
}
.pass:focus{
    border-bottom: 2px solid #6379F4;
    background: url("png/lock2.png") no-repeat;
}
.pass{
        padding-left: 40px;
        width: 360px;
        outline: none;
        height: 30px;
        border-bottom: 2px solid #A9A9A9;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: url("png/lock.png") no-repeat;
        transition: 300ms;

}
.forgot{
        margin-top: 30px;
}
.forgot p{
        text-align: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #A9A9A9;
        padding-right: 7%;
}
.but{
    margin-top: 105px;
}

.button{
    width: 403px;
    height: 57px;
    border: none;
    background-color: #DADADA;
    color: #88888F;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 200ms;
}
.button:active{
    box-shadow: 0 0 0 0.25rem rgb(108 117 125 / 50%);
}

.button:hover {
    color: #FFFFFF;
    background-color: #6379F4;
}

.signup{
    margin-top: 50px;
}
.signup p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #A9A9A9;
}