body{
    margin:0;
}
.main{
    height: 961px;
    width: 1440px;
    background-color: darkolivegreen;
}
.container{
    height: 961px;
    width: 1440px;
    left: -6822px;
    top: 10303px;
    border-radius: 0px;
}
.login{
    width: 41vw;
    height: 961px;
    background-color: white;  
    position: absolute;
    right: -50px;
}
.foto{
    width: 500px;
    height: 961px;
    position: absolute;
    margin-left: 130px;
}
.zwallet{
    margin-top: 60px;
}
.zwallet h2{
    font-size: 29px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hp1{
    position: absolute;
    left: 30.18%;
}
.app h2{
    font-size: 40px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.outro p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 23px;
}
.form{
    width: 75%;
    height: 800px;
    background-color: white;
    margin-top: 50px;
    margin-left: 50px;
    
}
.start{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    line-height: 32.74px;
}
.transfer{
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#3A3D4299;
    line-height: 30px
}
.input{
    margin-top: 50px;
}

.email{
        padding-left: 50px;
        padding-bottom: 10px;
        width: 400px;
        outline: none;
        height: 30px;
        border-bottom: 2px solid #A9A9A9;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pass{  
        padding-left: 50px;
        padding-bottom: 10px;
        width: 400px;
        outline: none;
        height: 30px;
        border-bottom: 2px solid #A9A9A9;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.forgot{
        margin-top: 30px;
}
.forgot p{
        text-align: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #A9A9A9;
}
.but{
    margin-top: 120px;
}
.button{
    width: 403px;
    height: 57px;
    border: none;
    background-color: #DADADA;
    color: #88888F;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.signup{
    margin-top: 50px;
}
.signup p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #A9A9A9;
}