body{
    margin: 0px;
}

.container{
    width: 100%;
    height: 560px;
    background-color: white;
    position: relative;
}
.judul h1{
    margin-top:25px;
    font-size: 29px;
    color: #6379F4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    width: 100vw;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: -1px -20px 40px 0px black;
}
.profile{
    margin-right: 50px;
    width: 330px;
    height: 90px;
    display: flex;
}

.judul{
    margin-left: 140px;;
    width: 90px;
    height: 90px;
}
.foto{
    margin-top: 20px;

}

.nama{
    margin-left: 10px;
    margin-top: 20px;
}
.nama h1{
    color: #4D4B57;
    margin: 5px 0px 0 2px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nama p{
    color:#7A7886;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
.bell{
    margin-top: 32px;
    margin-left: 10px;

}
.content{
    width: 100vw;
    height: 800px
}
.dashboard{
    width: 290px;
    height: 700px;
    margin-left: 135px;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px -10px black;
    background-color: white;
    position: absolute;
}
.Dashboard div{
    top: 135px;
    position: absolute;
    height: 25px;
    border-left: 3px solid #6379F4;
    margin-left: 20px;
}
.dashboard h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3A3D42;
    margin-left: 90px;
    margin-bottom: 40px;
    margin-top: 55px;
}
.dashboard img{
    left: 40px;
    position: absolute;
}
.Logout {
    position: absolute;
    bottom: 0px;
}
.hai{
    bottom: 35px;
}
.saldo{
    width: 727px;
    height: 700px;
    background-color: white;
    position: relative;
    left: 441px;
    top: 10px;
    border-radius: 20px;    
    box-shadow: 0px 0px 20px -10px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-name: gerak;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.83, 0.17, 0.26, 0.96);;
    animation-direction: alternate;
}

@keyframes gerak {
    0%{
        transform: translate(0, 50px);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 100%;
    }
}

.head h2{
    padding-left: 40px;
    padding-top: 30px;
    color: #3A3D42;
}
.samuel{
    width: 600px;
    height: 80px;
    margin-left: 60px;
    margin-top: 30px;
    display: flex;
    box-shadow: 0px 0px 20px -10px black;
    border-radius: 20px;
}

.samuel .text{
    margin-left: 20px;
    margin-top: 15px;
    flex: 2
}
.samuel .text h3{
    font-size: 16px;
    padding-left: 30px;
    margin: 0px;
    color: #4D4B57;
}
.samuel .text p{
    font-size: 15px;
    padding-left: 30px;
    color: #7A7886;
}
.samuel img{
    margin-left: 20px;
    margin-top: 15px;
}
.penj p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 40px;
    padding-top: 30px;
    line-height: 30px;
    color: #7A7886;
}

.duit{
    font-size: 50px;
    text-align: center;
    border: none;
    border-radius: 12px;
    color: black;
    font-family: inherit;
    margin-top: 20px;
    outline: none;
    height: 70px;
    width: 100%;
    opacity: 60%;
}

.duit:focus{
    color:#6379F4 ;
}

.nominal{
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
.input{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.input img{
    position: absolute;
    right:70%;
}
.email{
    padding-left: 50px;
    width: 40%;
    outline: none;
    height: 30px;
    border-bottom: 2px solid #A9A9A9;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url("png/Vector.png") no-repeat;
}

.email:focus{
    border-bottom: 2px solid #6379F4;
    background: url("png/Vector2.png") no-repeat;
    
}


.but{
    display: flex;
    justify-content: right;
    margin-top: 110px;
    margin-right: 30px;
}
.button{
    width: 25%;
    height: 57px;
    border: none;
    background-color: #6379F4;
    color: #88888F;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 300ms;
}
.button:hover{
    background-color: #6379F4 ;
    color: white;
}
.button:active{
    box-shadow: 0 0 0 0.25rem rgb(108 117 125 / 50%);
}


.bawah{
    position: absolute;
    color: white;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 75px;
    width: 100vw;
    height: 65px;
    background-color: #6379F4;
    display: flex;
    justify-content: space-between;
}
.kiri{
    margin-top: 10px;
    margin-left: 80px;
}
.kanan{
    display: flex;
    margin-right: 80px;
    margin-top:10px;
}
.no{
    margin-right: 40px;
}

