main{
    background-color: #FAFCFF;
    align-items: flex-start;
}
.content{
    width: 100%;
}
.container{
    height: 115vh;
}

header{
    height: 18vh;
    border-radius: 0;
    background-color:#FAFCFF;;
}

.bar-mobile{
    display: block;
}

aside{
    display: none;
}
.b-1{
    display: none;
}
.b-0{
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}
section .b .b-2{
    width: 100%;
    box-shadow: none;
    background-color: #FAFCFF;
}

div.b{
    display: block;
}
.right{
    display: none;
}
section{
    width: 100%;
    justify-content: start;
}
section .a{
    height: 18%;
    width: 93%;
    margin-left: 13px;
}
.left h2{
    font-size: 23px;
}
.left p{
    font-size: 13px;
}
footer{
    display: none;
}

.zwallet{
    display: none;
}
.head1{
    width: 100%;
    display: block;
    justify-content: center;
}
.name-number{
    display: none;
    height: 50%;
}
p.number {
    padding-top: 0px;
}
h3.name {
    margin-top: 8px;
}
.profile{
    width: 100%;
    height: 80%;
    justify-content:start
}

.photo{
    flex: 1;
    padding-left: 17px;
}
.name-number-mobile{
    display: block;
    flex: 5;
}
.bell-icon{
    flex: 1;
}
.button1, .button2{
    color: #4D4B57;
    background-color: #EAEDFF;
    border-radius: 10px;
}

.button1{
    margin-left: 20px;
}

.button2{
    margin-right: 20px;
}


button{
    color: #4D4B57;
    border: none;
    margin-top: 5px;
}
.history-head{
    width: 100%;
    padding: 0 15px 0 15px;
}

.user{
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.user-margin{
    margin-top: 20px;
}
.user-margin2{
    margin-top: 40px;
}

.user-gone{
    display: none;
}

.user-mobile{
    display: flex;
}

.strip{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}